* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  justify-content: center;
  padding: 20px 100px;
  z-index: 10;
}

.verde {
  height: 120px;
  background-color: #009788;
  z-index: 5;
}

.giallo {
  background-color: #dbdbd1;
  height: 100vh;
}

.testo-grigio {
  font-size: 14px;
  color: gray;
}

.gray {
  color: gray;
}

.flex {
  display: flex;
}

.chat-bubble {
  width: 310px;
  padding: 20px 0;
  padding-left: 20px;
  border-radius: 12px;
}

header {
  background-color: #eaeaea;
  justify-content: space-between;
  border-right: 1px solid black;
  align-items: center;
}

.scheda {
  height: 70px;
  padding: 10px 25px 10px 10px;
}

#left-side {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  height: 790px;
}

#right-side {
  width: 900px;
  display: flex;
  flex-direction: column;
  height: 790px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.icon {
  gap: 20px;
}

.info {
  align-items: center;
  gap: 10px;
}

.main-left {
  flex-direction: column;
  height: 100%;
}

.notifiche {
  background-color: #8edafc;
  height: 80px;
}

.fa-bell-slash {
  background-color: white;
  text-align: center;
  line-height: 50px;
  color: #8edafc;
}

.cerca {
  background-color: #fafafa;
  padding: 8px;
  height: 50px;
}

.cerca-chat {
  background-color: #ffffff;
  padding-left: 25px;
  align-items: center;
}

.search-box {
  width: 100%;
  padding: 10px;
  border: 0;
  padding-left: 40px;
}

.lista-amici {
  height: 590px;
  background-color: #ffffff;
  overflow-y: scroll;
}

.amici {
  border-top: 1px solid lightgray;
}

.info-amici {
  gap: 10px;
}

li {
  list-style: none;
}

.chat {
  flex-grow: 1;
  background-image: url('img/mine.jpg');
  overflow-y: auto;
  flex-direction: column;
  gap: 10px;
  padding: 55px 0;
}

.sent {
  background-color: #d5f9ba;
  margin-right: 100px;
  align-self: flex-end;
}

.received {
  background-color: #ffffff;
  margin-left: 100px;
  align-self: flex-start;
}

.barra-scrittura {
  background-color: #f3eeea;
  align-items: center;
  padding: 10px 40px;
}

.barra {
  flex-grow: 1;
}

.barra .cerca-chat {
  padding-left: 0;
  border-radius: 70px;
}

.barra {
  padding: 0 40px;
}

.barra .search-box {
  border-radius: 4px;
}
